body {
    font-family: "Fira Code", "DejaVu Sans", sans-serif;
}

.left {
    margin-left: 35%;
    margin-top: 30px;
    position: relative;
    float: left;
}

.right {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

.grid {
    width: 220px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgoldenrodyellow;
}

.grid div {
    height: 20px;
    width: 20px;
}

.main-board {
    border: 1px solid lightgray;
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    width: 88px;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgoldenrodyellow;
}

.mini-grid div {
    border: 1px solid lightgray;
    height: 20px;
    width: 20px;
}

.controls {
    width: 128px;
}

#game-over-div {
    position: fixed;
    margin-left: 40%;
    top: 220px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    border: 5px solid black;
    text-align: center;
    display: none;
}